[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "testpypi"
url = "https://test.pypi.org/simple"
verify_ssl = true

[dev-packages]
flit = "*"
pytest = "*"

[packages]
aracnid-config = "*"
aracnid-logger = "*"
aracnid-utils = "*"
i-mongodb = "*"
squareup = "*"
tqdm = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
