[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "testpypi"
url = "https://test.pypi.org/simple"
verify_ssl = true

[dev-packages]
flit = "*"
pylint = "*"
pytest = "*"

[packages]
dnspython = "~=2.0"
pymongo = "~=3.11"
squareup = "~=6.3"
aracnid-logger = "*"
aracnid-utils = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
